<configuration debug="false" scan="false"
	scanPeriod="60 seconds">
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />
	<property name="log_dir" value="logs/demo-app" />
	<!-- 日志最大的历史 30天 -->
	<property name="maxHistory" value="30" />
	<appender name="DEBUG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log_dir}/debug_web.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${log_dir}/%d{yyyy-MM-dd,aux}/debug_web.%d{yyyy-MM-dd_HH}.%i.log
			</fileNamePattern>
			<maxFileSize>5MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>5GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy/MM/dd-HH:mm:ss.SSS} [%thread] %-5level %c - %L
				%msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	<appender name="INFO"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log_dir}/info_web.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${log_dir}/%d{yyyy-MM-dd,aux}/info_web.%d{yyyy-MM-dd_HH}.%i.log
			</fileNamePattern>
			<maxFileSize>5MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>5GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy/MM/dd-HH:mm:ss.SSS} [%thread] %-5level %c - %L
				%msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>


	<appender name="WARN"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log_dir}/warn_web.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${log_dir}/%d{yyyy-MM-dd,aux}/warn_web.%d{yyyy-MM-dd_HH}.%i.log
			</fileNamePattern>
			<maxFileSize>5MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>5GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy/MM/dd-HH:mm:ss.SSS} [%thread] %-5level %c - %L
				%msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	<appender name="ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log_dir}/error_web.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${log_dir}/%d{yyyy-MM-dd,aux}/error_web.%d{yyyy-MM-dd_HH}.%i.log
			</fileNamePattern>
			<maxFileSize>5MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>5GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy/MM/dd-HH:mm:ss.SSS} [%thread] %-5level %c - %L
				%msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	<logger
		name="ch.qos.logback.classic.joran.action.ConfigurationAction"
		level="OFF" />
		
	
  <appender name="access" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log_dir}/access.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${log_dir}/%d{yyyy-MM-dd,aux}/access.%d{yyyy-MM-dd_HH}.%i.log</fileNamePattern>
      <maxFileSize>5MB</maxFileSize>
      <maxHistory>30</maxHistory>
      <totalSizeCap>5GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%msg</pattern>
    </encoder>
  </appender>
  <logger name="access" level="INFO" additivity="false">
    <appender-ref ref="access" />	
  </logger>
	<root level="INFO">
		<appender-ref ref="DEBUG" />
		<appender-ref ref="INFO" />
		<appender-ref ref="WARN" />
		<appender-ref ref="ERROR" />
	</root>
</configuration>